.profile {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
}

.profile h1 {
  color: #000;
}

.profile p {
  color: #333;
}

.profile button {
  background-color: #001542;
  color: #ffb30d;
  border: none;
  outline: none;
  width: 120px;
  height: 30px;
  border-radius: 4px;
}
